# Node.js standard ignores
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env
.env
.env.local

# Databases
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
